<!--Basic HTML Sttructure-->
<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Html Webpage as always</title>
    </head>
    <body>
        <h1> Hello buddy welcome to my world</h1>
        <p>This is a paragraph, what were you thinking it was</p>
        <ul>
            <li>Item1</li>
            <li>Item2</li>
            <li>Item3</li>
        </ul>

        <!--Linking an External CSS File--> 
        <link rel="stylesheet" type="text/css" href="style.css">
        


    </body>
</html>