<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    
</head>
<body>

<header>
    <h1>Solomon_Ondula Portfolio</h1>
</header>

<nav>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
    </ul>
</nav>

<section id="home">
    <h2>Home</h2>
    <p>Welcome to Solomon Ondula's website. Here you can find information about me and my projects.</p>
</section>

<section id="about">
    <h2>About</h2>
    <p>I am a passionate full staack developer with experience in HTML, CSS, Dart, Python and SQL. I love building creative and interactive applications.</p>
</section>

<section id="projects">
    <h2>Projects</h2>
    <p>Check out some of my projects below:</p>
    <ul>
        <li>Project 1: <a href="#">Calories Tracker</a></li>
        <li>Project 2: <a href="#">Questions and Answers app</a></li>
        <li>Project 3: <a href="#">Music and chess apps</a></li>
    </ul>
</section>

</body>
</html>
