<html>
  <head>
    <title> Solomon Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="#">
  </head>

  <body>
    <header> Solomon Ondula Omusinde Portfolio</header>

    <nav>
      <ul>
        <li><a href="#about">About me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact Me</a></li>
      </ul>
    </nav>

    <main>
      <section id="bbout"></section>

      
      <h2>About me</h2>
      <p>Hello, welcome to my web Portfolio <br>
        My name is Solomon Ondula Omusinde

      </p>

      <section id="projects">
        <h2>Projects</h2>
        <ul>
          <li>Calories tracker app</li>
          <li>Question and answers app</li>
          <li>Chess ladder</li>
        </ul>

      </section>

      <section id="skills">
        <h2>My skillset</h2>
        <ul>
          <li>Front-end languages: HTML, CSS, Javascript</li>
          <li>Back-end: Python, Dart </li>
          <li>Version Control: Git and Github</li>
        </ul>

      </section>

      <section id="contact">
        <h2>Contact Me</h2>
        <p> You can reach me through:</p>
        <ul>
          <li><a href="mailto: solomonondula@gmail.com">Email: solomonondula@gmail.com</a></li>
        </ul>

      </section>
      
    </main>
    <footer>
      <p>&copy; 2024 | Solomon Ondula</p>
    </footer>
    
  </body>

</html>