<DOCTYPE html>
    
<html>
    <head>
        <style>
            .box {

                padding: 2rem;
                border: 2px solid black;
                margin-bottom: 7rem;
            }
            
            #box1 {
                background-color: #9b59c9;
                margin-buttom: 2rem;
                color: pink;
            }
            #box2 {
                background-color: #9b59b6;
                color: pink;
                margin-left: 2rem;
            }
        </style>

    </head>
    <body>
        <div class="box" id="box1">Box 1</div>
        <div class="box" id="box2">Box 2</div>
    </body>
</html>